body {
  margin: 0px;
  text-align: center;
  font-family: 'Play', sans-serif;
}

#welcome-section {
  width: 100vw;
  height: 65em;
  background-image: url(/assets/images/pixel.jpg);
  padding-block-start: 0.5vw;
  padding-block-end: 0.5vh;
  font-family: 'Play', sans-serif;
  color: aqua;
}

.start {  
  margin-top: 400px;
}

button {
  margin-bottom: 0px;
}

.description {
  padding-top: 0px;
  padding-bottom: 0px;
}

#projects {
 background-color: rgb(219, 91, 119);
 color: midnightblue; 
 display: inline-block;
  width: 100vw;
  height: 45vh;
  border-bottom: 2px;
  border-color: aqua;
}

.project-title {
  width: 150px;
}
#illustration {
  background-color: rgb(100, 226, 243);
  color: midnightblue; 
  display: inline-block;
   width: 100vw;
   height: 45vh;
   border-bottom: 2px;
 }
 
h1 {
  padding-top: 15px;
}
a {
  display: inline-block;
  padding: 20px;
}

#welcome-button {
  border-radius: 12px;
  background-color: rgb(255, 214, 111);
  font-size: 1.3em;
  color: rgb(156, 6, 131);
}

.img-illustration {
  width: 150px;
  height: 230px;
  padding: 20px;
}

#navbar {

  
}
