body {
  margin: 0px;
  text-align: center;
}

#welcome-section {
  background-image: url(/assets/images/pixel.jpg);
  padding-block-start: 0.6vw;
  padding-block-end: 0.6vh;
  font-family: 'Play', sans-serif;
  color: aqua;
}

.start {  
  padding-top: 20%;
  font-size: 3em;
}
.description {
  padding-top: 0px;
  padding-bottom: 20%
}

#projects {
 background-color: rgb(219, 91, 91);
 color: midnightblue; 
 display: inline-block;
  margin-top: 5vh;
  width: 100vw;
  height: 100vh;
  border-bottom: 2px;
  border-color: aqua;
}

.project-title {
  padding-top: 2%;
  font-size: 2em;
}
