body {
  margin: 0px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 1em;
}

#welcome-section {
  width: 100vw;
  height: 65em;
  background-image: url(/assets/images/pixel.jpg);
  padding-block-start: 0.5vw;
  padding-block-end: 0.5vh;
  font-family: 'Play', sans-serif;
  color: aqua;
}

.start {  
  margin-top: 400px;
}

button {
  margin-bottom: 0px;
}

.description {
  padding-top: 0px;
  padding-bottom: 0px;
}

#projects {
  font-size: 1.3em;
 background-color: rgb(219, 91, 119);
 color: midnightblue; 
 display: inline-block;
  width: 100vw;
  height: 50vh;
  border-bottom: 2px;
  border-color: aqua;
  margin-bottom: 0px;
}

.project-title {
  width: 150px;
}
#illustration {
  font-size: 1.3em;
  background-color: rgb(100, 226, 243);
  color: midnightblue; 
  display: inline-block;
   width: 100vw;
   height: 50vh;
 }
 
h1 {
  padding-top: 15px;
}
a {
  display: inline-block;
  padding: 20px;
}

#welcome-button {
  border-radius: 12px;
  background-color: rgb(255, 214, 111);
  font-size: 1.5em;
  color: rgb(156, 6, 131);
  padding: 10px 15px 10px 15px;
}

.img-illustration {
  width: 150px;
  height: 230px;
  padding: 20px;
}

#navbar {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  width: 15%;
  position: fixed;
  height: 25%;
  overflow: auto;  
}

ul li a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(255, 214, 111);
  color: indigo;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: #555;
  color: rgb(100, 226, 243);
}

.content {
  padding: 1px 16px;
  height: 25%;
}

@media screen and (max-width: 900px) {
  ul #navbar {
    height: 65em;
    width: 100%;
    position: relative;
  }
  li a {
    float: left;
    padding: 15px;
  }
  div.content {
    margin-left: 0px;
  }
}
@media screen and (max-width: 400px) {
  li a {
    text-align: center;
    float: none;
  }
}

#footer {
  background-image: url(/assets/images/pixel.jpg);
  padding-top: 20px;
  width: 100%;
  color: indigo;
  margin-bottom: 0%;
  display: inline-block;
}



